In [1]:
import pickle
import os
import sys

sys.path.append(os.path.abspath("../../"))

from preprocesingScripts.bicycles.bicyclesAcquisition_2 import BicyclesAcq

In [2]:
origin_path = r'D:\masters\master IA IMF\TFM\data\bicycles\raw'
dest_dir = r'D:\masters\master IA IMF\TFM\data\bicycles\raw_excel'

allowed_dirs = ["2022", "2023", "2024"]
years = allowed_dirs

# Estan a false porque la operacion ya se ha realizado y se ha guardado, de esta forma es mas rapido el prcesado de datos
extract_files = False
obtain_data = False

# Se otiene los datos

In [ ]:
data_operations = BicyclesAcq(years)

# ------------------------------------------------------------------
# -------------------- Obtain data --------------------
if obtain_data:
    dfs_per_directory = data_operations.obtain_data(
        origin_path=origin_path,
        allowed_dirs=allowed_dirs,
        dest_dir=dest_dir,
        extract_files=extract_files,
        print_debug=True
    )

    # La variable obtenida es un diccionario de dataframes
    with open("../../data/bicycles/df_bicycles_raw_per_year.pk1", "wb") as f:
        pickle.dump(dfs_per_directory, f)
else:
    # La variable obtenida es un diccionario de dataframes
    with open("../../data/bicycles/df_bicycles_raw_per_year.pk1", "rb") as f:
        dfs_per_directory = pickle.load(f)

# Se observan los datos relevantes pra cada año como:
- Cantidad de columnas
- Tipos de columnas
- Las dos primeras filas

In [5]:
for key, item in dfs_per_directory.items():
    print(f" -- {key} -- ")
    print(len(item.dtypes))
    print(item.dtypes)
    print(item.head(2))
    print()

 -- 2022 --
13
ride_id                object
rideable_type          object
started_at             object
ended_at               object
start_station_name     object
start_station_id       object
end_station_name       object
end_station_id         object
start_lat             float64
start_lng             float64
end_lat               float64
end_lng               float64
member_casual          object
dtype: object
            ride_id  rideable_type           started_at             ended_at  \
0  C2F7DD78E82EC875  electric_bike  2022-01-13 11:59:47  2022-01-13 12:02:44
1  A6CF8980A652D272  electric_bike  2022-01-10 08:41:56  2022-01-10 08:46:17

         start_station_name start_station_id      end_station_name  \
0  Glenwood Ave & Touhy Ave              525  Clark St & Touhy Ave
1  Glenwood Ave & Touhy Ave              525  Clark St & Touhy Ave

  end_station_id  start_lat  start_lng   end_lat    end_lng member_casual
0         RP-007  42.012800 -87.665906  42.01256 -87.674367        casual
1         RP-007  42.012763 -87.665967  42.01256 -87.674367        casual

 -- 2023 --
13
ride_id                object
rideable_type          object
started_at             object
ended_at               object
start_station_name     object
start_station_id       object
end_station_name       object
end_station_id         object
start_lat             float64
start_lng             float64
end_lat               float64
end_lng               float64
member_casual          object
dtype: object
            ride_id  rideable_type           started_at             ended_at  \
0  F96D5A74A3E41399  electric_bike  2023-01-21 20:05:42  2023-01-21 20:16:33
1  13CB7EB698CEDB88   classic_bike  2023-01-10 15:37:36  2023-01-10 15:46:05

            start_station_name start_station_id           end_station_name  \
0  Lincoln Ave & Fullerton Ave     TA1309000058  Hampden Ct & Diversey Ave
1        Kimbark Ave & 53rd St     TA1309000037    Greenwood Ave & 47th St

  end_station_id  start_lat  start_lng    end_lat    end_lng member_casual
0       202480.0  41.924074 -87.646278  41.930000 -87.640000        member
1   TA1308000002  41.799568 -87.594747  41.809835 -87.599383        member

 -- 2024 --
13
ride_id                object
rideable_type          object
started_at             object
ended_at               object
start_station_name     object
start_station_id       object
end_station_name       object
end_station_id         object
start_lat             float64
start_lng             float64
end_lat               float64
end_lng               float64
member_casual          object
dtype: object
            ride_id  rideable_type           started_at             ended_at  \
0  C1D650626C8C899A  electric_bike  2024-01-12 15:30:27  2024-01-12 15:37:59
1  EECD38BDB25BFCB0  electric_bike  2024-01-08 15:45:46  2024-01-08 15:52:59

  start_station_name start_station_id          end_station_name  \
0  Wells St & Elm St     KA1504000135  Kingsbury St & Kinzie St
1  Wells St & Elm St     KA1504000135  Kingsbury St & Kinzie St

  end_station_id  start_lat  start_lng    end_lat    end_lng member_casual
0   KA1503000043  41.903267 -87.634737  41.889177 -87.638506        member
1   KA1503000043  41.902937 -87.634440  41.889177 -87.638506        member

# Se observan los valores únicos de:
- rideable_type
- member_casual

In [6]:
for key, item in dfs_per_directory.items():
    print(f" -- {key} -- ")
    
    unique = data_operations.obtain_unique_values_list(
        columns=["rideable_type", "member_casual"],
        df=item
    )
    
    for k, i in unique.items():
        print(f"Clave: {k} = {i}")

 -- 2022 --
Clave: rideable_type = ['electric_bike' 'classic_bike' 'docked_bike']
Clave: member_casual = ['casual' 'member']
 -- 2023 --
Clave: rideable_type = ['electric_bike' 'classic_bike' 'docked_bike']
Clave: member_casual = ['member' 'casual']
 -- 2024 --
Clave: rideable_type = ['electric_bike' 'classic_bike' 'electric_scooter']
Clave: member_casual = ['member' 'casual']

# Se obtienen los dato relacionados a las estaciones, se tranforma a un Dataframe y se guarda

In [7]:
import pandas as pd

# URL del feed GBFS
url = "https://gbfs.lyft.com/gbfs/2.3/chi/en/station_information.json"

# Leer directamente el JSON
data = pd.read_json(url)

# La información de las estaciones está dentro de data["data"]["stations"]
stations = pd.DataFrame(data["data"]["stations"])

print(stations.dtypes)
print(stations.head())
print(stations.shape)

stations.to_pickle("../../data/bicycles/bicycles_stations.pk1")

lon            float64
rental_uris     object
lat            float64
short_name      object
station_id      object
capacity         int64
name            object
region_id       object
address         object
dtype: object
         lon  \
0 -87.739557
1 -87.778450
2 -87.654691
3 -87.651140
4 -87.690492

                                                                                        rental_uris  \
0  {'ios': 'https://chi.lft.to/lastmile_qr_scan', 'android': 'https://chi.lft.to/lastmile_qr_scan'}
1  {'ios': 'https://chi.lft.to/lastmile_qr_scan', 'android': 'https://chi.lft.to/lastmile_qr_scan'}
2  {'ios': 'https://chi.lft.to/lastmile_qr_scan', 'android': 'https://chi.lft.to/lastmile_qr_scan'}
3  {'ios': 'https://chi.lft.to/lastmile_qr_scan', 'android': 'https://chi.lft.to/lastmile_qr_scan'}
4  {'ios': 'https://chi.lft.to/lastmile_qr_scan', 'android': 'https://chi.lft.to/lastmile_qr_scan'}

         lat short_name                            station_id  capacity  \
0  41.942722   CHI01857                   1869054242749504212        15
1  41.930860   CHI01840                   1942117929887056608        15
2  41.969517   CHI00492  a3aaa68b-a135-11e9-9cda-0a87ae2ba916        19
3  41.837800   CHI00431  a3a9c0f6-a135-11e9-9cda-0a87ae2ba916        15
4  42.008594   CHI00801  a3af5d1c-a135-11e9-9cda-0a87ae2ba916        15

                         name region_id address
0    Kilbourn Ave & Roscoe St       NaN     NaN
1    Meade Ave & Diversey Ave       NaN     NaN
2  Sheridan Rd & Lawrence Ave       NaN     NaN
3         Morgan St & 31st St       NaN     NaN
4      Western Ave & Lunt Ave       NaN     NaN
(1897, 9)