In [1]:
import pickle
import os
import sys

sys.path.append(os.path.abspath("../../"))

from preprocesingScripts.bicycles.bicyclesAcquisition_2 import BicyclesAcq

# Lectura de datos
CÃ³mo ya se han leido de forma previa no hace falta hcerlo de nuevo

In [2]:
with open("../../data/bicycles/df_bicycles_raw_per_year.pk1", "rb") as f:
    dfs_per_directory = pickle.load(f)

# Limpieza de datos
-

In [ ]:
years = ["2022", "2023", "2024"]

df_weather_preprocesed = BicyclesAcq(years).clean_data_dfs(
    dfs=dfs_per_directory
)

df_weather_preprocesed.df_data.to_pickle("../../data/bicycles/df_bicycles_preprocesed.pk1")

		 --- Grouping, cleaning and analisys data ---


>>>>> Analisys for 2022 <<<<<

		 --- Basic info ---

ride_id                object
rideable_type          object
started_at             object
ended_at               object
start_station_name     object
start_station_id       object
end_station_name       object
end_station_id         object
start_lat             float64
start_lng             float64
end_lat               float64
end_lng               float64
member_casual          object
dtype: object
          start_lat     start_lng       end_lat       end_lng
count  5.667717e+06  5.667717e+06  5.661859e+06  5.661859e+06
mean   4.190222e+01 -8.764783e+01  4.190242e+01 -8.764790e+01
std    4.626109e-02  2.999925e-02  6.805821e-02  1.082985e-01
min    4.164000e+01 -8.784000e+01  0.000000e+00 -8.814000e+01
25%    4.188103e+01 -8.766154e+01  4.188103e+01 -8.766260e+01
50%    4.190000e+01 -8.764410e+01  4.190000e+01 -8.764414e+01
75%    4.193000e+01 -8.762957e+01  4.193000e+01 -8.762963e+01
max    4.563503e+01 -7.379648e+01  4.237000e+01  0.000000e+00
************************************************************

		 --- Convert data ---


Columns ['started_at', 'ended_at'] converted to datetime
ride_id                       object
rideable_type                 object
started_at            datetime64[ns]
ended_at              datetime64[ns]
start_station_name            object
start_station_id              object
end_station_name              object
end_station_id                object
start_lat                    float64
start_lng                    float64
end_lat                      float64
end_lng                      float64
member_casual                 object
dtype: object
************************************************************

		 --- Create new columns ---

************************************************************

		 --- NULL data delete ---


Null percent value before cleaning:
ride_id                0.00
rideable_type          0.00
started_at             0.00
ended_at               0.00
start_station_name    14.70
start_station_id      14.70
end_station_name      15.75
end_station_id        15.75
start_lat              0.00
start_lng              0.00
end_lat                0.10
end_lng                0.10
member_casual          0.00
year                   0.00
month                  0.00
day                    0.00
time_hms_ms            0.00
dtype: float64

Null percent value after cleaning:
ride_id               0.0
rideable_type         0.0
started_at            0.0
ended_at              0.0
start_station_name    0.0
start_station_id      0.0
end_station_name      0.0
end_station_id        0.0
start_lat             0.0
start_lng             0.0
end_lat               0.0
end_lng               0.0
member_casual         0.0
year                  0.0
month                 0.0
day                   0.0
time_hms_ms           0.0
dtype: float64

Percent data lost:
	Original data: 5667717
	Without null data: 4369360
	% data lost: 22.91%
************************************************************

		 --- Adding holidays ---

************************************************************

		 --- Adding events ---

************************************************************

>>>>> Analisys for 2023 <<<<<

		 --- Basic info ---

ride_id                object
rideable_type          object
started_at             object
ended_at               object
start_station_name     object
start_station_id       object
end_station_name       object
end_station_id         object
start_lat             float64
start_lng             float64
end_lat               float64
end_lng               float64
member_casual          object
dtype: object
          start_lat     start_lng       end_lat       end_lng
count  5.719877e+06  5.719877e+06  5.712887e+06  5.712887e+06
mean   4.190288e+01 -8.764704e+01  4.190322e+01 -8.764720e+01
std    4.505556e-02  2.733412e-02  5.444371e-02  6.919621e-02
min    4.163000e+01 -8.794000e+01  0.000000e+00 -8.816000e+01
25%    4.188096e+01 -8.766000e+01  4.188103e+01 -8.766027e+01
50%    4.189902e+01 -8.764403e+01  4.190000e+01 -8.764410e+01
75%    4.193000e+01 -8.762991e+01  4.193000e+01 -8.763000e+01
max    4.207000e+01 -8.746000e+01  4.218000e+01  0.000000e+00
************************************************************

		 --- Convert data ---


Columns ['started_at', 'ended_at'] converted to datetime
ride_id                       object
rideable_type                 object
started_at            datetime64[ns]
ended_at              datetime64[ns]
start_station_name            object
start_station_id              object
end_station_name              object
end_station_id                object
start_lat                    float64
start_lng                    float64
end_lat                      float64
end_lng                      float64
member_casual                 object
dtype: object
************************************************************

		 --- Create new columns ---

************************************************************

		 --- NULL data delete ---


Null percent value before cleaning:
ride_id                0.00
rideable_type          0.00
started_at             0.00
ended_at               0.00
start_station_name    15.31
start_station_id      15.31
end_station_name      16.25
end_station_id        16.25
start_lat              0.00
start_lng              0.00
end_lat                0.12
end_lng                0.12
member_casual          0.00
year                   0.00
month                  0.00
day                    0.00
time_hms_ms            0.00
dtype: float64

Null percent value after cleaning:
ride_id               0.0
rideable_type         0.0
started_at            0.0
ended_at              0.0
start_station_name    0.0
start_station_id      0.0
end_station_name      0.0
end_station_id        0.0
start_lat             0.0
start_lng             0.0
end_lat               0.0
end_lng               0.0
member_casual         0.0
year                  0.0
month                 0.0
day                   0.0
time_hms_ms           0.0
dtype: float64

Percent data lost:
	Original data: 5719877
	Without null data: 4331823
	% data lost: 24.27%
************************************************************

		 --- Adding holidays ---

************************************************************

		 --- Adding events ---

************************************************************

>>>>> Analisys for 2024 <<<<<

		 --- Basic info ---

ride_id                object
rideable_type          object
started_at             object
ended_at               object
start_station_name     object
start_station_id       object
end_station_name       object
end_station_id         object
start_lat             float64
start_lng             float64
end_lat               float64
end_lng               float64
member_casual          object
dtype: object
          start_lat     start_lng       end_lat       end_lng
count  5.860568e+06  5.860568e+06  5.853336e+06  5.853336e+06
mean   4.190218e+01 -8.764622e+01  4.190258e+01 -8.764644e+01
std    4.474907e-02  2.748958e-02  5.598336e-02  1.136824e-01
min    4.164000e+01 -8.791000e+01  1.606000e+01 -1.440500e+02
25%    4.188096e+01 -8.766000e+01  4.188096e+01 -8.766000e+01
50%    4.189736e+01 -8.764182e+01  4.189776e+01 -8.764288e+01
75%    4.193000e+01 -8.762952e+01  4.193000e+01 -8.762954e+01
max    4.207000e+01 -8.752000e+01  8.796000e+01  1.525300e+02
************************************************************

		 --- Convert data ---


Columns ['started_at', 'ended_at'] converted to datetime
ride_id                       object
rideable_type                 object
started_at            datetime64[ns]
ended_at              datetime64[ns]
start_station_name            object
start_station_id              object
end_station_name              object
end_station_id                object
start_lat                    float64
start_lng                    float64
end_lat                      float64
end_lng                      float64
member_casual                 object
dtype: object
************************************************************

		 --- Create new columns ---

************************************************************

		 --- NULL data delete ---


Null percent value before cleaning:
ride_id                0.00
rideable_type          0.00
started_at            71.09
ended_at              71.09
start_station_name    18.33
start_station_id      18.33
end_station_name      18.85
end_station_id        18.85
start_lat              0.00
start_lng              0.00
end_lat                0.12
end_lng                0.12
member_casual          0.00
year                  71.09
month                 71.09
day                   71.09
time_hms_ms           71.09
dtype: float64

Null percent value after cleaning:
ride_id               0.0
rideable_type         0.0
started_at            0.0
ended_at              0.0
start_station_name    0.0
start_station_id      0.0
end_station_name      0.0
end_station_id        0.0
start_lat             0.0
start_lng             0.0
end_lat               0.0
end_lng               0.0
member_casual         0.0
year                  0.0
month                 0.0
day                   0.0
time_hms_ms           0.0
dtype: float64

Percent data lost:
	Original data: 5860568
	Without null data: 1268788
	% data lost: 78.35%
************************************************************

		 --- Adding holidays ---

************************************************************

		 --- Adding events ---

************************************************************

		 --- Obtain unique values ---

Unique value for "rideable_type": ['electric_bike' 'classic_bike' 'docked_bike']
Unique value for "member_casual": ['casual' 'member']
************************************************************

		 --- Grouping, cleaning and analisys data FINISHED ---


		 --- Changes data types ---


>> Column type
ride_id                        object
rideable_type                  object
started_at             datetime64[ns]
ended_at               datetime64[ns]
start_station_name             object
start_station_id               object
end_station_name               object
end_station_id                 object
start_lat                     float64
start_lng                     float64
end_lat                       float64
end_lng                       float64
member_casual                  object
year                            int64
month                           int64
day                             int64
time_hms_ms           timedelta64[ns]
day_type                       object
event                            bool
dtype: object

>> Dataframe describe
                          started_at                       ended_at  \
count                        9969971                        9969971
mean   2023-03-13 02:04:12.545116160  2023-03-13 02:20:39.132661760
min              2022-01-01 00:00:05            2022-01-01 00:01:48
25%       2022-08-04 18:02:25.500000            2022-08-04 18:19:17
50%              2023-04-12 17:11:21            2023-04-12 17:27:46
75%              2023-09-08 12:05:13     2023-09-08 12:18:53.500000
max              2024-05-31 23:59:47            2024-06-01 17:56:00
std                              NaN                            NaN

          start_lat     start_lng       end_lat       end_lng          year  \
count  9.969971e+06  9.969971e+06  9.969855e+06  9.969855e+06  9.969971e+06
mean   4.190107e+01 -8.764466e+01  4.190142e+01 -8.764483e+01  2.022689e+03
min    4.164850e+01 -8.784411e+01  0.000000e+00 -8.784406e+01  2.022000e+03
25%    4.188096e+01 -8.765804e+01  4.188096e+01 -8.765842e+01  2.022000e+03
50%    4.189641e+01 -8.764170e+01  4.189675e+01 -8.764182e+01  2.023000e+03
75%    4.192676e+01 -8.762857e+01  4.192877e+01 -8.762858e+01  2.023000e+03
max    4.563503e+01 -7.379648e+01  4.206485e+01  0.000000e+00  2.024000e+03
std    4.311963e-02  2.544060e-02  6.171816e-02  9.545288e-02  6.846879e-01

              month           day                time_hms_ms
count  9.969971e+06  9.969971e+06                    9969971
mean   6.593871e+00  1.572793e+01  0 days 14:36:09.941747974
min    1.000000e+00  1.000000e+00            0 days 00:00:00
25%    5.000000e+00  8.000000e+00            0 days 11:12:56
50%    7.000000e+00  1.600000e+01            0 days 15:26:42
75%    9.000000e+00  2.300000e+01            0 days 18:08:37
max    1.200000e+01  3.100000e+01            0 days 23:59:59
std    2.746763e+00  8.774949e+00  0 days 04:52:43.867316925
>> Primeros 10 valores
            ride_id  rideable_type          started_at            ended_at  \
0  C2F7DD78E82EC875  electric_bike 2022-01-13 11:59:47 2022-01-13 12:02:44
1  A6CF8980A652D272  electric_bike 2022-01-10 08:41:56 2022-01-10 08:46:17
2  BD0F91DFF741C66D   classic_bike 2022-01-25 04:53:40 2022-01-25 04:58:01
3  CBB80ED419105406   classic_bike 2022-01-04 00:18:04 2022-01-04 00:33:00
4  DDC963BFDDA51EEA   classic_bike 2022-01-20 01:31:10 2022-01-20 01:37:12
5  A39C6F6CC0586C0B   classic_bike 2022-01-11 18:48:09 2022-01-11 18:51:31
6  BDC4AB637EDF981B   classic_bike 2022-01-30 18:32:52 2022-01-30 18:49:26
7  81751A3186E59A6B   classic_bike 2022-01-22 12:20:02 2022-01-22 12:32:06
8  154222B86A338ABD  electric_bike 2022-01-17 07:34:41 2022-01-17 08:00:08
9  72DC25B2DD467EEF   classic_bike 2022-01-28 15:27:53 2022-01-28 15:35:16

              start_station_name start_station_id  \
0       Glenwood Ave & Touhy Ave              525
1       Glenwood Ave & Touhy Ave              525
2  Sheffield Ave & Fullerton Ave     TA1306000016
3       Clark St & Bryn Mawr Ave     KA1504000151
4    Michigan Ave & Jackson Blvd     TA1309000002
5          Wood St & Chicago Ave              637
6    Oakley Ave & Irving Park Rd     KA1504000158
7  Sheffield Ave & Fullerton Ave     TA1306000016
8           Racine Ave & 15th St            13304
9      LaSalle St & Jackson Blvd     TA1309000004

                end_station_name end_station_id  start_lat  start_lng  \
0           Clark St & Touhy Ave         RP-007  42.012800 -87.665906
1           Clark St & Touhy Ave         RP-007  42.012763 -87.665967
2  Greenview Ave & Fullerton Ave   TA1307000001  41.925602 -87.653708
3      Paulina St & Montrose Ave   TA1309000021  41.983593 -87.669154
4         State St & Randolph St   TA1305000029  41.877850 -87.624080
5        Honore St & Division St   TA1305000034  41.895634 -87.672069
6         Broadway & Sheridan Rd          13323  41.954341 -87.686080
7       Damen Ave & Clybourn Ave          13271  41.925602 -87.653708
8   Clinton St & Washington Blvd         WL-012  41.861251 -87.656500
9   Clinton St & Washington Blvd         WL-012  41.878166 -87.631929

     end_lat    end_lng member_casual  year  month  day     time_hms_ms  \
0  42.012560 -87.674367        casual  2022      1   13 0 days 11:59:47
1  42.012560 -87.674367        casual  2022      1   10 0 days 08:41:56
2  41.925330 -87.665800        member  2022      1   25 0 days 04:53:40
3  41.961507 -87.671387        casual  2022      1    4 0 days 00:18:04
4  41.884621 -87.627834        member  2022      1   20 0 days 01:31:10
5  41.903119 -87.673935        member  2022      1   11 0 days 18:48:09
6  41.952833 -87.649993        member  2022      1   30 0 days 18:32:52
7  41.931931 -87.677856        member  2022      1   22 0 days 12:20:02
8  41.883380 -87.641170        member  2022      1   17 0 days 07:34:41
9  41.883380 -87.641170        member  2022      1   28 0 days 15:27:53

  day_type  event
0   Normal  False
1   Normal  False
2   Normal  False
3   Normal  False
4   Normal  False
5   Normal  False
6  Weekend  False
7  Weekend  False
8  Holiday  False
9   Normal  False
>> Shape del dataframe
(9969971, 19)

AttributeError: 'Data' object has no attribute 'to_pickle'